.container {
  background-color: #135AE8;
  height:100vh;
  width:100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}

.panel-container {
 background-color: #CAD8F4;
 max-width: 80%;
 width: 50vw;
 height: 80vh;
 border-radius: 50px;
}

@media (max-width: 768px) {
  .container {
    grid-template-columns: 1fr; /* Afișează conținutul într-o singură coloană pe dispozitive mobile */
  }

  .panel-container {
    width: 80vw; /* Largime mai mică pentru a se potrivi pe ecranele mobile */
    height: 80vw; /* Înălțime auto pentru acomodarea conținutului */
  }
  .left-container, .right-container {
    margin: 0;
    padding: 0;
  }
  .text-header {
    font-size: 40px;  /* Mărit pentru a fi mai lizibil pe dispozitive mobile */
  }

  .subtext-header {
    font-size: 40vw; /* Mărit ușor pentru subtitlu */
  }

  p {
    font-size: 50px;  /* Ajustat pentru a fi mai lizibil ca text de bază */
    
  }

  .card-bottom-preview {
    font-size: 5vw; /* Mărește fontul pentru linkuri și butoane */
  }
}

  
.left-container {
 display: flex;
 justify-content: center;
 align-items: center;
}

.right-container {
  display: flex;
  justify-content: center;
  align-items: center;
 /* margin-right: 50px;*/
}

.right-container img {
   max-width: 100%;
   height: auto;
}

.text-header {
  color: var(--main);
  font-size: 3.8vw; 
  font-weight: bold;
  /*margin: 1.5vw 0 0.5vw 0;*/
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.subtext-header {
  color: var(--main);
  font-size: 1.9vw;
  margin: -1vw 0;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  font-size: 1.5vw; 
  line-height: 1.5; 
  margin-left: 30px;
  margin-right: 30px;
  margin: 4vw;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-bottom-preview{
  color:#313131;
  transition: color 0.3s, transform 0.3s;
  font-size: 2vw;
  align-items: center;
  text-align: center;
}

.card-bottom-preview:hover{
  color: var(--main);
  transform: translateX(5px);
}